<div id="games">
  <div id="1" class="game">
    <h3>Sintel Game</h3>
    <div class="info">
      <ul>
	<li><strong>Type:</strong> Adventure</li>
	<li><strong>Player1:</strong> 1</li>
	<li><strong>Duration:</strong> 10 min</li>
      </ul>
    </div>
    <img src="img/1.jpg"></img>
  </div>
  <div id="2" class="game">
    <h3>Minecraft</h3>
    <div class="info">
      <ul>
	<li><strong>Type:</strong> Sandbox</li>
	<li><strong>Players:</strong> *</li>
	<li><strong>Duration:</strong> *</li>
      </ul>
    </div>
    <img src="img/2.jpg"></img>
  </div>
  <div id="3" class="game">
    <h3>Portal</h3>
    <div class="info">
      <ul>
	<li><strong>Type:</strong> Adventure</li>
	<li><strong>Player:</strong> 1</li>
	<li><strong>Duration:</strong> 25 min</li>
      </ul>
    </div>
    <img src="img/5.jpg"></img>
  </div>
  <div id="4" class="game">
    <h3>League of Legends</h3>
    <div class="info">
      <ul>
	<li><strong>Type:</strong> Moba</li>
	<li><strong>Players:</strong> 5v5</li>
	<li><strong>Duration:</strong> 30 min</li>
      </ul>
    </div>
    <img src="img/4.jpg"></img>
  </div>
</div>
