<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TAFL</title>
    <meta name="author" content="Sacha Bron (Binary Brain)">
    
    <script src="resources/libs/jquery.js"></script>
    <script src="index.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!--h1 id="bigTitle">Tafl Games</h1-->
  <div id="people">
    <h3>Friends</h3>
    <ul id="friends">
      <li draggable="true"><div class="name" id="1">Flagoul</div></li>
      <li draggable="true"><div class="name" id="2">Protectator</div></li>
      <li draggable="true"><div class="name" id="3">Lachainone</div></li>
      <li draggable="true"><div class="name" id="4">Darkalcoolik</div></li>
    </ul>
    
    <h3>People</h3>
    <ul id="others">
      <li draggable="true"><div class="name" id="5">Jean-Jean</div></li>
      <li draggable="true"><div class="name" id="6">xXx Dark sombre xXx</div></li>
      <li draggable="true"><div class="name" id="8">Tabi Nah</div></li>
      <li draggable="true"><div class="name" id="7">SuperMool</div></li>
      <li draggable="true"><div class="name" id="10">Jayce</div></li>
      <li draggable="true"><div class="name" id="9">Pascal</div></li>
      <li draggable="true"><div class="name" id="12">octopus82</div></li>
      <li draggable="true"><div class="name" id="11">Slalutrin</div></li>
      <li draggable="true"><div class="name" id="13">YuGuiYooo13</div></li>
    </ul>
  </div>
  <div id="frame"></div>
  <!--div class="popover">
    <div class="popover-frame">
      <div class="title"><h2>Popover</h2></div>
      <div class="content">
        <p>Because popovers are cool.</p>
      </div>
    </div>
  </div-->
</body>
</html>
