<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interface</title>
    <meta name="author" content="Sacha Bron">
    
    <script src="resources/libs/jquery.js"></script>
    <script src="index.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="people">
    <h3>Friends</h3>
    <ul id="friends">
      <li><div class="name">Flagoul</div></li>
      <li><div class="name">Protectator</div></li>
      <li><div class="name">Lachainone</div></li>
      <li><div class="name">Darkalcoolik</div></li>
    </ul>
    
    <h3>People</h3>
    <ul id="others">
      <li><div class="name">Jean-Jean</div></li>
      <li><div class="name">xXx Dark sombre xXx</div></li>
      <li><div class="name">SuperMool</div></li>
      <li><div class="name">Tabi Nah</div></li>
      <li><div class="name">Pascal</div></li>
      <li><div class="name">Jayce</div></li>
      <li><div class="name">Slalutrin</div></li>
      <li><div class="name">octopus82</div></li>
      <li><div class="name">YuGuiYooo13</div></li>
    </ul>
  </div>
  <div id="games">
    <div id="1" class="game">
      <h3>Sintel Game</h3>
      <img src="img/1.jpg"></img>
    </div>
    <div id="2" class="game">
      <h3>Minecraft</h3>
      <img src="img/2.jpg"></img>
    </div>
    <div id="3" class="game">
      <h3>Portal</h3>
      <img src="img/5.jpg"></img>
    </div>
    <div id="4" class="game">
      <h3>League of Legends</h3>
      <img src="img/4.jpg"></img>
    </div>
  </div>
  <!--div class="popover">
    <div class="popover-frame">
      <div class="title"><h2>Popover</h2></div>
      <div class="content">
        <p>Because popovers are cool.</p>
      </div>
    </div>
  </div-->
</body>
</html>
