* {
	font-family: Arial;
}

.ui-block { 
	display: none;
}

.login {
	display: block;
}

#players	td a.btn {
	text-decoration: none;
	border: 1px solid #aaa;
	padding: 0 5px;
	color: black;
}

#players	td a.btn.disable {
	cursor: default;
	background-color: #888;
}

.btn:hover {
	background-color: #ccc
}
