@import url("http://fonts.googleapis.com/css?family=Cantarell|Open+Sans");
/* IMPORTS */
/* CONSTANTS */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-family: 'Cantarell', sans-serif;
  color: #eeeeee;
}
body {
  background: url("./img/bg.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
  color: #eeeeee;
}
h1#bigTitle {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  letter-spacing: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  text-align: center;
}
#frame {
  position: absolute;
  width: 800px;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -250px;
}
.frameContent {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#login {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 20px;
}
#login h2 {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
#login input {
  background: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  padding: 10px;
  font-size: 1.2em;
  width: 30%;
}
#login #loginButton {
  background-color: #3775e6;
  padding: 5px 20px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
#login #loginButton:hover {
  background-color: #2065e3;
}
#login #loginButton:active {
  background-color: #1751b9;
}
#games {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#games .game {
  position: relative;
  width: 320px;
  height: 200px;
  margin-left: 53.333333333333336px;
  margin-top: 33.333333333333336px;
  border: 1px solid black;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
#games .game h3 {
  z-index: 100;
  position: absolute;
  left: 8px;
  top: 5px;
  height: 30px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
#games .game img {
  width: 100%;
  height: 100%;
}
#games .game .info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  transition: right 0.5s ease-in-out 0s;
  -webkit-transition: right 0.5s ease-in-out 0s;
  -moz-transition: right 0.5s ease-in-out 0s;
  -o-transition: right 0.5s ease-in-out 0s;
}
#games .game .info ul {
  margin: 5px;
  margin-top: 35px;
  font-size: 0.8em;
  padding-left: 5px;
  list-style-type: none;
}
#games .game:hover .info {
  right: 0;
}
#teamMaking {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#teamMaking #teams {
  position: absolute;
  top: 10px;
  bottom: 70px;
  left: 10px;
  right: 10px;
}
#teamMaking #teams .team {
  float: left;
}
#teamMaking #teams .team .padding {
  padding: 10px;
}
#teamMaking #teams .team .padding h3 {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
#teamMaking #teams .team .padding .slot {
  padding: 10px 5px;
  margin-top: 20px;
  border: 2px solid #eeeeee;
  margin-left: -2px;
  background: rgba(0, 0, 0, 0.5);
}
#teamMaking #teams .team .padding .slot.open {
  color: #cccccc;
  border-color: #cccccc;
  border-style: dashed;
  opacity: 0.7;
}
#teamMaking #teams .team .padding .slot.open:before {
  content: "Open";
}
#teamMaking #teams .team .padding .slot.locked {
  color: #2dc32e;
  border-color: #2dc32e;
}
#teamMaking #teams .team .padding .slot.pending {
  color: #f1bf28;
  border-color: #f1bf28;
}
#teamMaking #teams .team .padding .slot.pending .canvasloader {
  float: right;
}
#teamMaking #teams .team:not(:first-child) {
  border-left: 2px #eeeeee solid;
}
#teamMaking #readyButton {
  background-color: #2dc32e;
  padding: 5px 20px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#teamMaking #readyButton:hover {
  background-color: #28ae29;
}
#teamMaking #readyButton:active {
  background-color: #1f851f;
}
#teamMaking #cancelButton {
  background-color: #ff2c42;
  padding: 5px 20px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#teamMaking #cancelButton:hover {
  background-color: #ff132b;
}
#teamMaking #cancelButton:active {
  background-color: #df0017;
}
#people {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
}
#people h3 {
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin: 10px 0 5px 0;
}
#people ul {
  list-style-type: none;
}
#people ul li {
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  padding-left: 10px;
  display: block;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
#people ul li:hover {
  background: rgba(0, 0, 0, 0.5);
}
#notifs {
  position: absolute;
  width: 200px;
}
#notifs .notif {
  position: relative;
  margin-top: 10px;
  left: -500px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  overflow: hidden;
}
#notifs .notif h3 {
  margin-bottom: 5px;
}
.popover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
  color: black;
}
.popover .popover-frame {
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 50%;
  width: 900px;
  margin-left: -450px;
  background-color: #eeeeee;
}
.popover .popover-frame .title {
  width: 100%;
  height: 50px;
  background-color: #222222;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.popover .popover-frame .title > * {
  padding: 10px;
}
.popover .popover-frame .content {
  padding: 10px;
}
.whiteTitle {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.close {
  position: absolute;
  top: 1px;
  right: 4px;
  font-size: 20px;
  cursor: pointer;
}
.close:after {
  content: "×";
}
.close:hover {
  color: #cccccc;
}
.close:active {
  color: #999999;
}
