<div id="teamMaking">
  <div id="teams">
    <div class="team" style="width: 33%;">
      <div class="padding">
	<h3>Team1</h3>
	<div class="slot">Binary Brain</div>
	<div class="slot locked">Flagoul</div>
	<div class="slot open"></div>
	<div class="slot open"></div>
      </div>
    </div>
    <div class="team" style="width: 33%;">
      <div class="padding">
	<h3>Team2</h3>
	<div class="slot waiting">Protectator</div>
	<div class="slot open"></div>
	<div class="slot open"></div>
	<div class="slot open"></div>
      </div>
    </div>
    <div class="team" style="width: 33%;">
      <div class="padding">
	<h3>Team3</h3>
	<div class="slot open"></div>
	<div class="slot open"></div>
	<div class="slot open"></div>
	<div class="slot open"></div>
      </div>
    </div>
  </div>
  <a id="readyButton">Ready!</a>
</div>
